/* This is a section for global varibales */
:root {
  --gold: #b9c6ae;
  --darkblue: #13293d;
  --lightbackground: white;
  --darkbackground: #13293d;
  --fontsanseriff: sans-serif;
}

/* Global styles */
body {
  font-family: var(--fontsanseriff);
  display: flex;
  flex-wrap: wrap;
}


/* This is the main header style*/
header {
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--darkbackground);
  color: var(--gold);
  font-family: var(--fontsanseriff);
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  border-radius: 20px;
  box-shadow: 10px 10px 5px var(--gold);
  z-index: 10;
}

.picture {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.picture img {
  width: 100%;
  height: 10%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 5px var(--gold);
  margin-top: 4.8%;
}

.picture h2 {
  color: var(--gold);
  position: absolute;
  top: 11.5%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
}




/* Navigation bar */
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 450px;
  font-weight: lighter;
  list-style: none;

}

nav a {
  color: var(--gold);
  font-weight: lighter;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: #fff;
  text-decoration: underline;
}

/* Main content */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* Side menu bar */

aside {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--gold);
  color: var(--darkblue);
  box-shadow: 10px 10px 5px var(--darkblue);
  font-weight: lighter;
  margin-top: 14%;
  position: fixed;
  border-radius: 20px;
  padding: auto;
  line-height: 1.3;
  align-items: center;

}

aside h2 {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

aside ul {
  text-align: center;
}

aside li:hover {
  color: #fff;

}

.about p::before {
  left: 50%;
  top: 0;
  transform: translateY(-50%);
}


/*About Me*/
.about {
  color: var(--darkblue);
  font-size: 1.2em;
  margin: 10%;
  margin-top: -57%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  line-height: 1.3;
  background-color: var(--lightbackground);
  padding: 0 2%;
  position: relative;
}

.about h2 {
  position: absolute;
  writing-mode: vertical-lr;
  text-orientation: upright;
  top: 0%;
  left: 1%;
  transform: translate(-118%);
  font-size: .9em;

}

.about p {
  position: relative;
  font-size: 1em;
}

.about p::before {
  content: '';
  position: absolute;
  left: -1%;
  top: -5%;
  bottom: -13%;
  transform: translate(-50%);
  width: 2px;
  background-color: var(--darkblue);
}


.about img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 5px var(--darkblue);
  margin-top: 5%;

}

.about img:hover {
  opacity: 0.5;

}



/*skills section*/

.projects {
  text-align: center;
  color: var(--gold);
  text-transform: capitalize;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
  list-style: none;
  font-size: 1.0em;
  color: var(--gold);
  margin-left: 12.5%;
  margin-bottom: 1%;
}

.skills :hover {
  color: var(--lightbackground)
}

.details {
  border-style: hidden;
  border-width: 1px;
  border-radius: 50px;
  flex: 0 0 300px;
  box-shadow: 10px 10px 5px var(--gold);
  margin: 50px;
  background-color: var(--darkbackground);

}

.details header {
  border-radius: 50px 50px 0px 0px;
  padding: 20px;
}

.details img {
  width: 50%;
}

.skills .details img {
  transition: transform 0.3s ease;
}

.skills .details img:hover {
  transform: scale(1.1);
}

/* Footer */
footer {
  color: var(--gold);
  text-align: center;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;

}

footer li {
  margin-right: 4%;
}

footer p {
  margin-top: 1%;
}

footer a:hover {
  color: var(--gold);
}

/* Media Query */
/* Media Query for iPhone and similar-sized devices */
@media screen and (max-width: 1160px) {
  header {
    flex-direction: column;
    /* Stack the header items */
    text-align: center;
    padding: 5%;
  }

  nav ul {
    flex-direction: column;
    /* Stack the navigation items */
    padding: 0;
    min-width: 0;
    margin-top: 10%;
    /* Remove the min-width */
  }

  nav a {
    padding: 10px;
    /* Add padding to increase touch area */
    margin: 5px 0;
    /* Add margin for spacing */
  }

  .picture img {
    margin-top: 25%;
    height: 25%;
  }

  .picture h2 {
    font-size: 3vw;
    top: 50%;
    left: 30%;
    padding: 0 5%;
  }

  aside {
    position: relative;
    /* Make sidebar position relative */
    margin-top: -39%;
    /* Reset margin-top */
    width: 100%;
    /* Set width to full viewport */
    text-transform: uppercase;
  }

  aside ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0% auto;
  }

  aside li {
    display: block;
    text-align: center;
    margin-bottom: 15%;
  }

  .about {
    margin: 5% 5%;
    /* Adjust margin for the about section */
    padding: 0;
    /* Reset padding */
  }

  .about h2 {
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: upright;
    top: 18%;
    left: 0.5%;
    transform: translate(-118%);
    font-size: .9em;

  }

  .about p::before {
    content: '';
    position: absolute;
    left: -1%;
    top: 0%;
    bottom: 0%;
    width: 2px;
    background-color: var(--darkblue);
  }

  .about img {
    width: 90%;
    /* Adjust image width */
    margin-top: 10%;
    /* Adjust margin-top */
    margin-left: 5%;
    margin-bottom: 8%;

  }

  .skills {
    margin: 5% 5%;
    /* Adjust margin for the skills section */
  }

  .details {
    flex-basis: 100%;
    /* Make skills details take full width */
    margin: 5% 0;
    /* Adjust margin */
  }

  .details h2 {
    margin: 2%;
  }

  .details img {
    width: 70%;
    margin: 5% 5%;

  }

  footer li {
    margin-right: 2%;
    /* Adjust margin for footer items */
  }
}

@media screen and (max-width: 414px) {
  .picture img {
    margin-top: 35%;
    height: 25%;
  }

  .picture h2 {
    font-size: 3vw;
    top: 50%;
    left: 30%;
    padding: 0 5%;
  }
}

@media screen and (max-width: 280px) {
  .picture img {
    margin-top: 46%;
    height: 25%;
  }

  .picture h2 {
    font-size: 3vw;
    top: 50%;
    left: 30%;
    padding: 0 5%;
  }

  aside {
    position: relative;
    /* Make sidebar position relative */
    margin-top: -39%;
    /* Reset margin-top */
    width: 100%;
    /* Set width to full viewport */
    text-transform: uppercase;
  }

  aside ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0% auto;
  }

  aside li {
    display: block;
    text-align: center;
    margin-bottom: 15%;
  }

  .about {
    margin: 5% 5%;
    /* Adjust margin for the about section */
    padding: 0;
    /* Reset padding */
  }

  .about h2 {
    position: absolute;
    writing-mode: vertical-lr;
    text-orientation: upright;
    top: 22%;
    left: 0.5%;
    transform: translate(-118%);
    font-size: .6em;

  }

  .about p::before {
    content: '';
    position: absolute;
    left: -1%;
    top: 0%;
    bottom: 0%;
    width: 2px;
    background-color: var(--darkblue);
  }

  .about img {
    width: 90%;
    /* Adjust image width */
    margin-top: 10%;
    /* Adjust margin-top */
    margin-left: 5%;
    margin-bottom: 8%;

  }
}